@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");

* {

  /* font-family: 'Poiret One', cursive; */
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --secondary-color: black;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}
.loaderContainer
{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.loader
{
  margin: auto;
  border-radius: 50%;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  /* border: 1px solid black; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);
    height: 0px;
    /* width: 0px; */
  }
}
.container {
  width: 100%;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
  /* overflow: hidden; */
}
.header {
  position: sticky;
  /* position: relative; */
  top: 0px;
  width: 100%;
  height: 70px;
  /* border: 1px solid var(--secondary-color); */
  margin-bottom: 5px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  /* color: var(--secondary-color); */
}
.logoName {
  text-decoration: none;
  font-family: "Poiret One", cursive;
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 35px;
}
.logo {
  height: 57px;
  width: 60px;
  margin-right: 5px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 70px;
  background-color: var(--secondary-color);
  left: 0;
  border: 1px solid var(--secondary-color);
  width: 23%;
  height: 100%;
  left: -100%;
  padding-left: 10px;
  transition: 1s;
  z-index: 2;
  /* display: none; */
}
.show-btn {
  cursor: pointer;
  position: fixed;
  /* color: var(--secondary-color); */
  color: var(--primary-color);
  left: 20px;
  top: 20px;
  font-size: 22px;
  z-index: 3;
  width: 35px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  /* background-color:rgb(107, 107, 107); */
  /* z-index: 20; */
}
.loginBtn
{
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 22px;
  z-index: 3;
  width: 35px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 30px;
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul li {
  /* font-family: 'Times New Roman', Times, serif; */
  position: relative;
  display: block;
  /* border-left: 5px solid var(--primary-color); */
  /* border: 1px solid var(--primary-color); */
  /* border-bottom: 1px solid #bfbfbf; */
  text-align: left;
  height: 40px;
  line-height: 40px;
  width: 98%;
  /* margin: auto; */
  margin-left: 5px;
  /* margin-bottom: 2px; */
  /* margin-bottom: 30px; */
  padding-left: 10px;
  /* position: relative; */
  /* transition-property: border;
    transition-duration: .2s; */
  transition: all 0.5s;
}
/* .sidebar ul li:hover {
  background-color: rgba(128, 128, 128, 0.842);
} */
.sidebar ul li::before {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background-color: var(--primary-color);
  transition: width 1s;
}
.sidebar ul li:hover::before {
  width: 100%;
}
.sidebar ul li:first-child {
  border-bottom: 1px solid var(--primary-color);
}
.sidebar ul li:first-child:hover::before {
  width: 0px;
}
.sidebar ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 300;
}
/* .sidebar ul li:hover
{
border-left: 7px solid #bfbfbf;
} */
.sidebar ul li:last-child {
  margin-bottom: -15px;
  border-bottom: none;
}
.fas {
  font-size: 22px;
  margin-right: 15px;
  /* position: absolute;
    left: 0px;
    top: 8px; */
}
.socialContainer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  /* border: 1px solid var(--primary-color); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialContainer a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 30px;
  transition: 1s;
}
.socialContainer a:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}
.body {
  width: 100%;
  /* width: 98%; */
  height: auto;
  /* border: 1px solid var(--secondary-color); */
  margin: auto;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 98%;
  height: 50px;
  margin: 5px auto;
  /* border: 1px solid var(--secondary-color); */
}
.search {
  width: 0%;
  height: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  transition: width 2s;
}
.searchBtn {
  width: 100px;
  height: 100%;
  /* border:1px solid var(--secondary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.fa-search {
  color: gray;
  cursor: pointer;
  transition: transform 1s;
}
.fa-search:hover {
  transform: scale(1.1);
  color: var(--secondary-color);
}

.slider {
  width: 98%;
  height: 550px;
  margin: auto;
  /* border: 1px solid var(--secondary-color); */
  background: url(./Image/hOption.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.typingAnimationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 450px;
  height: 300px;
  /* border: 1px solid var(--secondary-color); */
}
.typingText {
  border-right: 1px solid var(--secondary-color);
  font-size: 35px;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 4s;
  animation-timing-function: steps(22);
  animation-iteration-count: infinite;
}
@keyframes typing {
  100% {
    width: 22ch;
  }
}
.getStarted {
  background: linear-gradient(
    to right,
    var(--secondary-color) 50%,
    var(--primary-color) 50%
  );
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-out;
  /* background-color: var(--primary-color); */
  border: 1px solid var(--secondary-color);
  width: 205px;
  color: var(--secondary-color);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 25px;
  margin-left: 125px;
  font-size: 20px;
  border-radius: 0px;
  cursor: pointer;
}
.getStarted:hover {
  color: var(--primary-color);
  background-position: left;
}
.titleContainer {
  width: 98%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50px;
  /* border: 1px solid var(--secondary-color); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  cursor: pointer;
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  font-size: 35px;
  /* border: 1px solid black; */
}
.courseContainer {
  width: 97%;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.courseInfo {
  width: 310px;
  height: 450px;
  /* border: 1px solid var(--secondary-color); */
  /* border:1px solid rgba(0, 0, 0, 0.1); */
  transition: all 0.5s;
  z-index: 0;
  /* margin-bottom: 40px; */
}
.courseInfo:hover {
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.1);
  /* box-shadow: 0px 0px 10px #bfbfbf; */
}
.courseInfo:hover .cBtnContainer a {
  color: var(--primary-color);
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: auto;
  margin-top: 25px;
  height: 150px;
  border-radius: 50%;
  background-color: whitesmoke;
  /* border: 1px solid var(--secondary-color); */
  /* padding-top: 25px; */
}
.dataContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 10px;
  width: 100%;
  height: 200px;
  padding: 5px;
  /* border: 1px solid var(--secondary-color); */
}
.courseInfo:hover .cBtnContainer {
  /* color: var(--primary-color); */
  background-color: var(--secondary-color);
  border: 3px solid black;
}
.bColor {
  color: var(--primary-color);
}
.cBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  /* border: 2px solid var(--secondary-color); */
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.jBtn {
  text-decoration: none;
  color: var(--secondary-color);
  display: block;
  font-size: 22px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.cHeading {
  text-align: center;
  font-size: 24px;
  /* margin-bottom: 50px; */
}

.jBtn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.courseIcon {
  height: 80px;
  width: 80px;
  /* margin-bottom: 5px; */
}
.mentorContainer {
  width: 96%;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mentorInfo {
  cursor: pointer;
  width: 310px;
  height: 460px;
  /* border: 1px solid var(--secondary-color); */
  transition: transform 0.5s;
  margin-bottom: 5px;
}
#mentor a {
  color: var(--secondary-color);
}
.mentorIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.mentorInfo:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.jobProfile {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  /* border: 1px solid var(--secondary-color); */
}
.jProfilePara {
  text-align: center;
}
.profileInfo {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  /* border: 1px solid var(--secondary-color); */
}
.cName {
  font-size: 20px;
  text-align: center;
}
.email {
  text-decoration: none;
  text-align: center;
}
.mentorPhoneContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid var(--secondary-color); */
}
.mentorInfo:hover .fa-phone {
  /* position: relative; */
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
.phoneNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
#fTitle {
  align-items: flex-start;
}
/* border: 1px solid black; */
.suggestionContainer {
  height: auto;
  width: 100%;
  /* border: 1px solid var(--secondary-color); */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.commentButton {
  border-radius: 2px;
  cursor: pointer;
  border: none;
  color: var(--secondary-color);
  background-color: black;
  border: 1px solid black;
  /* font-family: 'Times New Roman', Times, serif; */
  color: white;
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  transition: transform 0.5s;
}
.commentButton:hover {
  transform: scale(1.1);
}
.nameComment {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  font-size: 22px;
}
.commentTitle {
  /* border: 1px solid black; */
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
}

.commentBox {
  padding: 10px;
  text-align: center;
  /* padding-left: 10px; */
  font-size: 20px;
  width: 920px;
  min-height: 480px;
  /* border: 1px solid var(--secondary-color); */
}
.commentDUser {
  font-size: 23px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.userComment {
  border-radius: 5px;
  /* overflow: hidden; */
  padding: 10px;
  width: 95%;
  min-height: 200px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  /* white-space: pre-wrap; */
  background-color: whitesmoke;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#dPara {
  display: inline-block;
  width: 100%;
  white-space: wrap;
  color: black;
  font-size: 18px;
}
.deleteComment {
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  height: 40px;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 20px;
}
.userNameContainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.commentContainer {
  max-width: 95%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px 80px 20px 80px;
}
.commentTitle {
  font-size: 24px;
}
#comment {
  border-radius: 20px 80px 20px 80px;
  outline: none;
  max-width: 70%;
  max-height: 240px;
  padding: 10px;
  padding-right: 40px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.nameCommentor {
  outline: none;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  height: 30px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: width 2s;
}
.nameCommentor:focus {
  width: 470px;
}
#comment::placeholder {
  color: black;
}
.commentBtnContainer {
  /* border:1px solid black; */
  max-width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.ratingContainer {
  /* background: black; */
  width: 400px;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
}
.ratingName,
.ratingEmail {
  background-color: transparent;
  position: relative;
  height: 80px;
  margin: auto;
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* border: 1px solid black; */
}
.mNameLabel,
.emNameLabel {
  color: gray;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
  top: 23px;
  transition: all 0.3s ease-in-out;
}
.mSubmitBtn {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  display: block;
  margin: auto;
  width: 95%;
  font-size: 20px;
  height: 45px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.messageContain {
  padding: 10px;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
}
.messageLabel {
  color: black;
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
  /* color: #6C63FF; */
}
.message {
  background-color: transparent;
  outline: none;
  padding: 10px;
  font-size: 19px;
  width: 100%;
  height: 200px;
  border: 1px solid #bfbfbf;
}
.ContactForce {
  color: red;
}
.contactForm {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  /* color: black; */
  /* border: 1px solid black; */
}
.contactForm p {
  font-size: 25px;
  color: black;
}
.mName,
.emName {
  background-color: transparent;
  /* pointer-events: none; */
  outline: none;
  font-size: 20px;
  /* padding: 10px; */
  height: 35px;
  width: 95%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

.mName:focus + .mNameLabel,
.mName:valid + .mNameLabel {
  top: 0px;
  font-size: 18px;
  color: var(--secondary-color);
}
.emName:focus + .emNameLabel {
  top: 0px;
  font-size: 18px;
  color: var(--secondary-color);
}
.emName:valid + .emNameLabel {
  top: 0px;
  font-size: 18px;
  color: var(--secondary-color);
}
.companyDrivesQuesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Images/company.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px auto;
  width: 100%;
  height: 480px;
  /* border: 1px solid var(--secondary-color); */
}
.companyButton
{
  text-decoration: none;
  cursor: pointer;
  color: #6c63ff;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 190px;
  border-radius: 20px;
  /* box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
  -2px -2px 12px rgba(255, 255, 255, 0.5),
  inset 2px 2px 4px  rgba(255, 255, 255, 0.1),
  2px 2px 8px rgba(0, 0, 0, 0.15);
  border:1px solid rgba(255,255,255,0.5); */
  font-size: 25px;
  border:2px solid #6c63ff;
  margin-bottom: 20px;
}
/* .companyButton:hover
{
  font-size: 23px;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
  inset -2px -2px 12px rgba(255, 255, 255, 0.5),
  inset 2px 2px 4px  rgba(255, 255, 255, 0.1),
  inset 2px 2px 8px rgba(0, 0, 0, 0.15);
} */
.companyQuestion
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: rgba(0,0,0,0.01); */
  /* backdrop-filter: blur(0px); */
}
/* .leftContainer {
  width: 20%;
  height: 100%;
  border: 1px solid var(--secondary-color);
}
.rightContainer {
  width: 79%;
  height: 100%;
  border: 1px solid var(--secondary-color);
} */
.profileContainer {
  margin: auto;
  width: 100%;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.CreatorInfo {
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 25px auto;
  height: 400px;
  width: 320px;
  /* border-radius: 50%; */
  /* border: 1px solid var(--secondary-color); */
}
.creatorSocialMedia {
  width: 100%;
  height: 60px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--secondary-color); */
}
.cSocialIcons {
  color: gray;
  font-size: 22px;
}
.fac {
  font-size: 20px;
  margin-right: 20px;
}
.fac:hover {
  color: white;
}
.creatorPictures {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  /* background-color: #6C63FF; */
  background-color: whitesmoke;
  /* border: 1px solid black; */
}
.creatorPhoto {
  position: relative;
  top: 20px;
  width: 180px;
  height: 180px;
}
.creatorPos {
  font-size: 20px;
  margin-top: 50px;
}
.creatorDesign {
  height: 35px;
  position: relative;
  font-size: 20px;
  /* border: 1px solid black; */
  margin-top: 30px;
}
.creatorDesign::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  border: 1px solid #6c63ff;
  background-color: #6c63ff;
  width: 50px;
}
.textInfo {
  text-align: center;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  /* border: 2px solid red; */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: saturate(180%) blur(10px); */
  transition: 1s;
}
.viewCreator {
  margin-top: 30px;
  color: var(--primary-color);
}
.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6c63ff;
  /* border: 1px solid var(--primary-color); */
}
.CreatorInfo:hover .textInfo {
  bottom: 0%;
}
.donation {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid var(--secondary-color); */
  margin: auto;
  margin-top: 20px;
}
.clickMe {
  bottom: 30px;
  left: 330px;
  position: absolute;
  cursor: pointer;
  width: 120px;
  border-radius: 20px;
  /* position: relative;
  left: 90px;
  top: -10px; */
  height: 35px;
  border: none;
  background-color: black;
  backdrop-filter: blur(5px);
  font-size: 20px;
  color: white;
}

.Donate {
  position: relative;
  width: 967px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-right: 1px solid #bfbfbf;
  background: url(../Images/supportMoney.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center bottom;
}

.Donate:hover .dBtnContainer {
  background-color: black;
}
.Donate:hover .dBtn {
  color: white;
}
.dBtn {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 22px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.subscriberEmail {
  border: none;
  width: 60%;
  display: block;
  height: 40px;
  font-size: 20px;
  /* margin: auto; */
  outline: none;
  background: transparent;
  border-bottom: 1px solid #bfbfbf;
  transition: width 1s;
  margin-top: 10px;
}
.subscriberEmail:focus {
  width: 90%;
}
.subscribeBtn {
  /* display: none; */
  cursor: pointer;
  border-radius: 2px;
  width: 150px;
  height: 45px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 65px;
}
.subscribe {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: 480px;
  /* border: 1px solid var(--secondary-color); */
  background: url(../Images/subscribe.svg);
  background-size: 50%;
  background-position: center 90px;
  background-repeat: no-repeat;
}
.subText {
  font-size: 30px;
  /* text-align: center; */
  margin-top: 250px;
}
.footerWebName {
  font-family: "Poiret One", cursive;
  font-size: 35px;
  margin-left: 5px;
}
.footer {
  background: url(../Images/footerLove.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  /* margin: 0px auto; */
  height: auto;
  /* border-top: 1px solid #bfbfbf; */
  /* border: 1px solid var(--secondary-color); */
}

.socialContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 50px;
  /* border: 1px solid var(--secondary-color); */
}
.sLink {
  font-size: 25px;
  text-decoration: none;
  color: gray;
}
.addIcon {
  transition: transform 0.5s;
}
.addIcon:hover {
  color: gray;
  transform: scale(1.1);
}
.cInfoContainer {
  padding: 10px;
  padding-top: 20px;
  padding-left: 5px;
  height: 350px;
  width: 250px;
  /* border: 1px solid var(--secondary-color); */
}
.cInfoContainer ul {
  margin-top: 30px;
}
.cInfoContainer ul li {
  list-style-type: none;
  width: 100%;
  height: 30px;
  /* border: 1px solid var(--secondary-color); */
}
.cInfoContainer ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 20px;
}
.cInfoContainer ul li a:hover {
  color: gray;
}

.addrs {
  /* font-size: 25px; */
  margin-right: 10px;
}
.addr {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

.siteInfo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.addressInfo {
  padding: 10px;
  width: 300px;
  height: 480px;
  /* border: 1px solid var(--secondary-color); */
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(../Images/allrightsback.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  width: 100%;
  background-position: bottom center;
  height: 250px;
  /* border: 5px solid green; */
  margin-top: -50px;
  /* margin-bottom: 20px; */
}
.copyright:hover {
  color: var(--primary-color);
}

#check:checked ~ .body .sidebar {
  left: 0%;
}
#check:checked ~ .show-btn {
  background-color: rgb(107, 107, 107);
  /* background-color: var(--primary-color); */
  /* color: var(--secondary-color); */
}
.practice {
  width: 100%;
  height: 600px;
  /* height: 480px; */
  /* border: 1px solid var(--secondary-color); */
}
.aboutDesc {
  color: black;
}
.readMoreSpan a {
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 40px;
  width: 180px;
  height: 50px;
  /* border: 1px solid gray; */
}
.readMoreSpan a::before {
  z-index: -2;
  content: "";
  background-color: #6c63ff;
  width: 20px;
  height: 250px;
  position: absolute;
  animation: rotate 3s infinite ease-out;
}
.readMoreSpan a::after {
  position: absolute;
  content: "";
  inset: 2px;
  background-color: white;
  z-index: -1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .rMore
{
  cursor: pointer;
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  font-size: 20px;
  margin-top: 50px;
  background-color: black;
} */
.aboutUS {
  background: url(../Images/aboutUSImg.svg);
  background-size: 29%;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 20px;
  font-size: 20px;
  /* padding: 80px; */
  text-align: center;
  width: 100%;
  min-height: 480px;
  height: auto;
  /* border: 1px solid var(--secondary-color); */
}
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 480px;
  /* border: 1px solid black; */
}
.servicesImage {
  background-image: url(../Images/services2.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 550px;
  height: 480px;
  /* border: 1px solid black; */
}
.servicesContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 780px;
  height: 480px;
  /* border: 1px solid black; */
}
.moto {
  font-size: 30px;
}
@media (max-width: 1300px) {
  .services {
    height: auto;
  }
  .servicesImage {
    width: 100%;
  }
  .servicesContent {
    width: 100%;
  }

  .courseContainer {
    justify-content: space-evenly;
    /* background-color: blue; */
  }
  .mentorContainer {
    justify-content: space-evenly;
  }
  .donation {
    justify-content: space-evenly;
  }
}
@media (max-width: 800px) {
  .services {
    height: auto;
  }
  .servicesImage {
    background-size: contain;
    height: 280px;
    width: 100%;
  }
  .servicesContent {
    height: 480px;
    width: 100%;
  }
  .ratingContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .aboutUS {
    height: 600px;
    background: none;
  }
  .profileContainer {
    justify-content: center;
  }
  .courseContainer {
    justify-content: center;
  }
  .mentorContainer {
    justify-content: center;
  }
  .Donate {
    background-position: center;
    height: 600px;
  }
  .clickMe {
    width: 250px;
    height: 48px;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
  .subscribeBtn {
    width: 250px;
    height: 48px;
  }

  .commentBox {
    padding: 0px;
    width: 100%;
  }
  .userNameContainer {
    height: auto;
    flex-wrap: wrap;
    max-width: 100%;
    /* background-color: blue; */
  }
  .nameCommentor {
    margin-top: 10px;
    width: 90%;
    margin-bottom: 20px;
    transition: none;
  }
  .nameCommentor:focus {
    width: 90%;
  }

  .commentContainer {
    max-width: 100%;
    padding: 0px;
  }
  #comment {
    margin-top: 20px;
    max-width: 95%;
    margin-bottom: 20px;
  }
  .commentBtnContainer {
    max-width: 93%;
    margin-bottom: 40px;
  }
  .userComment {
    margin-bottom: 20px;
    width: 100%;
    /* background-color: green; */
  }
  .copyright {
    align-items: flex-end;
  }
  .body {
    width: 100%;
  }
  .container {
    width: 100%;
    overflow: hidden;
  }
  .sidebar {
    width: 75%;
  }
  .show-btn {
    left: 3px;
  }
  .loginBtn
  {
    right: 3px;
  }
  .header {
    position: fixed;
    top: 0;
  }
  .searchBar {
    margin-top: 75px;
  }
  .searchBtn {
    width: 50px;
  }
  .courseInfo {
    width: 100%;
  }
  .mentorInfo {
    width: 100%;
  }
  .mentorInfo:hover {
    box-shadow: none;
    transform: none;
    border: none;
  }
  .courseInfo:hover {
    box-shadow: none;
    transform: none;
    border: none;
  }
  .typingAnimationContainer {
    /* border: 1px solid var(--secondary-color); */
    margin: auto;
    margin-top: 10px;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
  }
  .slider {
    /* border: 1px solid var(--secondary-color); */
    width: 100%;
  }
  .getStarted {
    margin: auto;
  }

  .typingText {
    font-size: 28px;
  }
  .socialContainer {
    margin-top: 80px;
  }
  .footer {
    margin-top: -20px;
    flex-wrap: wrap;
    background-size: 40%;
    background-position: bottom center;
  }
  .cInfoContainer {
    text-align: center;
    width: 100%;
  }
  .addressInfo {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* background-color: var(--secondary-color); */
  }
  .siteInfo {
    width: 100%;
    justify-content: center;
    /* text-align: center; */
  }
  .socialContainer2 {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  .Donate {
    background-size: 100%;
    width: 100%;
  }
  .subscribe {
    width: 100%;
    height: 520px;
  }
  .CreatorInfo {
    width: 100%;
  }
}
/* Media Query */
.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 60px;
  z-index: 2;
  /* border: 1px solid var(--secondary-color); */
  background-color: var(--secondary-color);
  border-radius: 50%;
}
.lightSun {
  border-radius: 50%;
  font-size: 25px;
}
.darkMode {
  color: var(--primary-color);
  cursor: pointer;
}
