@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");

* {
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Poiret One', cursive; */
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}
.container {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  /* overflow: hidden; */
}
.header {
  position: sticky;
  /* position: relative; */
  top: 0px;
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  margin-bottom: 5px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  /* color: black; */
}
.logoName {
  font-family: "Poiret One", cursive;
  font-weight: 500;
  cursor: pointer;
  color: white;
  font-size: 35px;
}
.logo {
  height: 57px;
  width: 60px;
  margin-right: 5px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 70px;
  background-color: black;
  left: 0;
  border: 1px solid black;
  width: 23%;
  height: 100%;
  left: -100%;
  padding-left: 10px;
  transition: 1s;
  z-index: 2;
  /* display: none; */
}
.show-btn {
  cursor: pointer;
  position: fixed;
  /* color: black; */
  color: white;
  left: 20px;
  top: 20px;
  font-size: 22px;
  z-index: 3;
  width: 35px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  /* background-color:rgb(107, 107, 107); */
  /* z-index: 20; */
}
.sidebar ul {
  list-style-type: none;
}
.sidebar ul li {
  /* font-family: 'Times New Roman', Times, serif; */
  position: relative;
  display: block;
  /* border-left: 5px solid white; */
  /* border: 1px solid white; */
  /* border-bottom: 1px solid #bfbfbf; */
  text-align: left;
  height: 40px;
  line-height: 40px;
  width: 98%;
  /* margin: auto; */
  margin-left: 5px;
  /* margin-bottom: 2px; */
  /* margin-bottom: 30px; */
  padding-left: 10px;
  /* position: relative; */
  /* transition-property: border;
    transition-duration: .2s; */
  transition: all 0.5s;
}
/* .sidebar ul li:hover {
  background-color: rgba(128, 128, 128, 0.842);
} */
.sidebar ul li::before {
  content: "";
  height: 1px;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 0px;
  background-color: white;
  transition: width 1s;
}
.sidebar ul li:hover::before {
  width: 100%;
}
.sidebar ul li:first-child {
  border-bottom: 1px solid white;
}
.sidebar ul li:first-child:hover::before {
  width: 0px;
}
.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
}
/* .sidebar ul li:hover
{
border-left: 7px solid #bfbfbf;
} */
.sidebar ul li:last-child {
  margin-bottom: -15px;
  border-bottom: none;
}
.fas {
  font-size: 22px;
  margin-right: 15px;
  /* position: absolute;
    left: 0px;
    top: 8px; */
}
.socialContainer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socialContainer a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 30px;
  transition: 1s;
}
.socialContainer a:hover {
  transform: scale(1.2);
  color: white;
}
.body {
  width: 100%;
  /* width: 98%; */
  height: auto;
  /* border: 1px solid black; */
  margin: auto;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 98%;
  height: 50px;
  margin: 5px auto;
  /* border: 1px solid black; */
}
.search {
  width: 0%;
  height: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  transition: width 2s;
}
.searchBtn {
  width: 100px;
  height: 100%;
  /* border:1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.fa-search {
  color: gray;
  cursor: pointer;
  transition: transform 1s;
}
.fa-search:hover {
  transform: scale(1.1);
  color: black;
}

.slider {
  width: 98%;
  height: 550px;
  margin: auto;
  /* border: 1px solid black; */
  background: url(./Image/hOption.svg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.typingAnimationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 450px;
  height: 300px;
  /* border: 1px solid black; */
}
.typingText {
  border-right: 1px solid black;
  font-size: 35px;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 4s;
  animation-timing-function: steps(22);
  animation-iteration-count: infinite;
}
@keyframes typing {
  100% {
    width: 22ch;
  }
}
.getStarted {
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.5s ease-out;
  /* background-color: white; */
  border: 1px solid black;
  width: 205px;
  color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 25px;
  margin-left: 125px;
  font-size: 20px;
  border-radius: 0px;
  cursor: pointer;
}
.getStarted:hover {
  color: white;
  background-position: left;
}
.titleContainer {
  width: 98%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 35px;
}
.courseContainer {
  width: 97%;
  height: auto;
  /* border: 1px solid black; */
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.courseInfo {
  width: 310px;
  height: 450px;
  /* border: 1px solid black; */
  /* border:1px solid rgba(0, 0, 0, 0.1); */
  transition: all 0.5s;
  z-index: 0;
  /* margin-bottom: 40px; */
}
.courseInfo:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.1);
  /* box-shadow: 0px 0px 10px #bfbfbf; */
}
.courseInfo:hover .cBtnContainer a {
  color: white;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: auto;
  margin-top: 25px;
  height: 150px;
  border-radius: 50%;
  background-color: whitesmoke;
  /* border: 1px solid black; */
  /* padding-top: 25px; */
}
.dataContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 10px;
  width: 100%;
  height: 200px;
  padding: 5px;
  /* border: 1px solid black; */
}
.courseInfo:hover .cBtnContainer {
  /* color: white; */
  background-color: black;
}
.bColor {
  color: white;
}
.cBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 50px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.jBtn {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 22px;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.cHeading {
  text-align: center;
  font-size: 24px;
  /* margin-bottom: 50px; */
}

.jBtn:hover {
  color: white;
  background-color: black;
}
.courseIcon {
  height: 80px;
  width: 80px;
  /* margin-bottom: 5px; */
}
.mentorContainer {
  width: 96%;
  height: auto;
  /* border: 1px solid black; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mentorInfo {
  cursor: pointer;
  width: 310px;
  height: 460px;
  /* border: 1px solid black; */
  transition: transform 0.5s;
  margin-bottom: 5px;
}
#mentor a {
  color: black;
}
.mentorIcon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.mentorInfo:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.jobProfile {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
  /* border: 1px solid black; */
}
.jProfilePara {
  text-align: center;
}
.profileInfo {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  /* border: 1px solid black; */
}
.cName {
  font-size: 20px;
  text-align: center;
}
.email {
  text-decoration: none;
  text-align: center;
}
.mentorPhoneContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
}
.mentorInfo:hover .fa-phone {
  /* position: relative; */
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes move {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
.phoneNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.suggestionContainer {
  height: 550px;
  width: 100%;
  border: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Images/suggestionBack.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: center;   */
}
.commentBox {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  background: transparent;
}
.ratingContainer {
  background: transparent;
  width: 59%;
  height: 100%;
  border: 1px solid black;
}
.companyDrivesQuesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  width: 100%;
  height: 88vh;
  border: 1px solid black;
}
.leftContainer {
  width: 20%;
  height: 100%;
  border: 1px solid black;
}
.rightContainer {
  width: 79%;
  height: 100%;
  border: 1px solid black;
}
.profileContainer {
  margin: auto;
  width: 100%;
  height: auto;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.CreatorInfo {
  cursor: pointer;
  margin: 100px auto;
  height: 250px;
  width: 200px;
  /* border-radius: 50%; */
  border: 1px solid black;
  transform: rotate(45deg);
  transition: 0.5s;
  z-index: -1;
}
.CreatorInfo:hover {
  height: 320px;
  width: 320px;
  transform: rotate(0deg);
  border-radius: 50%;
}
.donation {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}
.Donate {
  width: 967px;
  height: 480px;
  border: 1px solid black;
  background: url(../Images/footer.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
}
input[type=email] {
  border: none;
  width:60%;
  display: block;
  height: 40px;
  font-size: 20px;
  /* margin: auto; */
  outline: none;
  background: transparent;
  border-bottom: 1px solid black;
  transition: width 1s;
  margin-top: 10px;
}
input[type=email]:focus
{
  width: 90%;
}
.subscribeBtn
{
  /* display: none; */
  cursor: pointer;
  border-radius: 2px;
  width: 150px;
  height: 45px;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}
.subscribe {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  flex-direction: column;
  width: 380px;
  height: 480px;
  border: 1px solid black;
  background: url(../Images/newsletter.svg);
  background-size: 50%;
  background-position: center 90px;
  background-repeat: no-repeat;
}
.subText {
  font-size: 30px;
  /* text-align: center; */
  margin-top: 250px;
}
.footerWebName {
  font-family: "Poiret One", cursive;
  font-size: 35px;
  margin-left: 5px;
}
.footer {
  background: url(../Images/footerLove.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 0px;
  /* margin: 0px auto; */
  height: auto;
  border-top: 1px solid #bfbfbf;
  /* border: 1px solid black; */
}

.socialContainer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
}
.sLink {
  font-size: 25px;
  text-decoration: none;
  color: gray;
}
.addIcon {
  transition: transform 0.5s;
}
.addIcon:hover {
  color: gray;
  transform: scale(1.1);
}
.cInfoContainer {
  padding: 10px;
  padding-top: 20px;
  padding-left: 5px;
  height: 350px;
  width: 250px;
  /* border: 1px solid black; */
}
.cInfoContainer ul {
  margin-top: 30px;
}
.cInfoContainer ul li {
  list-style-type: none;
  width: 100%;
  height: 30px;
  /* border: 1px solid black; */
}
.cInfoContainer ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.cInfoContainer ul li a:hover {
  color: gray;
}

.addrs {
  /* font-size: 25px; */
  margin-right: 10px;
}
.addr {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 5px;
}

.siteInfo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.addressInfo {
  padding: 10px;
  width: 300px;
  height: 480px;
  /* border: 1px solid black; */
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 60px;
  border: 1px solid black;
}
.copyright:hover {
  color: white;
}

#check:checked ~ .body .sidebar {
  left: 0%;
}
#check:checked ~ .show-btn {
  background-color: rgb(107, 107, 107);
  /* background-color: white; */
  /* color: black; */
}

@media (max-width: 750px) {
  .body {
    width: 100%;
  }
  .container {
    width: 100%;
    overflow: hidden;
  }
  .sidebar {
    width: 75%;
  }
  .show-btn {
    left: 3px;
  }
  .header {
    position: fixed;
    top: 0;
  }
  .searchBar {
    margin-top: 75px;
  }
  .searchBtn {
    width: 50px;
  }
  .courseInfo {
    width: 100%;
  }
  .mentorInfo {
    width: 100%;
  }
  .mentorInfo:hover {
    box-shadow: none;
    transform: none;
    border: none;
  }
  .courseInfo:hover {
    box-shadow: none;
    transform: none;
    border: none;
  }
  .typingAnimationContainer {
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 10px;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
  }
  .slider {
    /* border: 1px solid black; */
    width: 100%;
  }
  .getStarted {
    margin: auto;
  }

  .typingText {
    font-size: 28px;
  }
  .socialContainer {
    margin-top: 80px;
  }
  .footer {
    margin-top: -20px;
    flex-wrap: wrap;
    background-size: 40%;
    background-position: bottom center;
  }
  .cInfoContainer {
    text-align: center;
    width: 100%;
  }
  .addressInfo {
    width: 100%;
    justify-content: center;
    text-align: center;
    /* background-color: black; */
  }
  .siteInfo {
    width: 100%;
    justify-content: center;
    /* text-align: center; */
  }
  .socialContainer2 {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }
  .Donate {
    background-size: 100%;
    width: 100%;
  }
  .subscribe {
    width: 100%;
  }
}
/* Media Query */
.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 60px;
  width: 60px;
  z-index: 2;
  /* border: 1px solid black; */
  background-color: black;
  border-radius: 50%;
}
.lightSun {
  border-radius: 50%;
  font-size: 25px;
}
.darkMode {
  color: white;
  cursor: pointer;
}
