@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: white;
  --secondary-color: black;
}
header {
  z-index: 3;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--secondary-color);
}
.logo {
  height: 57px;
  width: 60px;
  margin-right: 5px;
  cursor: pointer;
}

.titleContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  /* border: 1px solid black; */
}
.title {
  font-size: 30px;
}
.container {
  background: url(./frontendBackG.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color:white;
  /* border: 1px solid black; */
}
.frontendTechnologies {
  background-color: transparent;
  padding-top: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  width: 330px;
  height: 480px;
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.frontendTechnologies p {
  color: blue;
  font-size: 35px;
}
.btnContainer {
  margin-top: 30px;
}
.frontendTechnologies button {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 45px;
  border: none;
  background-color: white;
  color: black;
  font-size: 23px;
  margin-top: 20px;
  /* border: 1px solid black; */
  /* z-index: 2; */
}
button {
  overflow: hidden;
  z-index: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
button:hover {
  /* box-shadow: 0px 0px 10px blue; */
  color: white;
  background-color: blue;
}

button:hover::after {
  /* animation: none; */
  display: none;
}
button:hover::before {
  background-color: blue;
}
button a
{
  text-decoration: none;
  color: black;
}
button:hover a
{
  color: white;
}
button::before {
  position: absolute;
  content: "";
  inset: 2px;
  z-index: -1;
  background-color: white;
}
button::after {
  z-index: -2;
  content: "";
  position: absolute;
  height: 200px;
  width: 20px;
  background-image: linear-gradient(to bottom, blue 50%, black 50%);
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--secondary-color);
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../Images/allrightsback.svg);
  /* background-color: var(--secondary-color); */
}

@media screen and (max-width:768px) {
  .frontendTechnologies
  {
    width: 100%;
    /* background-image: linear-gradient(to right bottom, black 50%,blue 50%); */
    /* background-color:grey; */
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../Images/undraw_education_f8ru.svg);
    background-size: 80%;
  }
  .container
  {
    background: none;
  }
}